---
- name: Check if node is already joined
  stat:
    path: /etc/kubernetes/kubelet.conf
  register: kubelet_conf_check

- name: Get join command from master
  slurp:
    src: /tmp/kubeadm_join_command.sh
  delegate_to: k8s-master
  register: join_command_encoded
  when: not kubelet_conf_check.stat.exists

- name: Decode join command
  set_fact:
    kubeadm_join_command: "{{ join_command_encoded.content | b64decode | trim }}"
  when: not kubelet_conf_check.stat.exists

- name: Join worker to cluster
  command: "{{ kubeadm_join_command }}"
  when: not kubelet_conf_check.stat.exists
